extends base.jade

block append head
    script(type="text/javascript", src="/scripts/stats.js")
    script(type="text/javascript", src="/scripts/highcharts.js")
    script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js")

block content
    div.ez-box
        h2.content-head.is-center Crumbling island arena stats
    div.ez-wr
        #tabs.c-tabs
            .c-tabs-nav
                a.c-tabs-nav__link.is-active All 2v2/3v3
                a.c-tabs-nav__link Ranked 1v1
                a.c-tabs-nav__link Rank 1 2v2/3v3
                a.c-tabs-nav__link Rounds played
            .c-tab.is-active
                .c-tab__content
                    div#winRates.stats-graph
            .c-tab
                .c-tab__content
                    div#duelWinRates.stats-graph
            .c-tab
                .c-tab__content
                    div#rankOneWinRates.stats-graph
            .c-tab
                .c-tab__content
                    div#games.stats-graph

    - var s = "";
    - var f = true;
    - for(data : model.generalWinrates) { s = s + (f ? " " : ", ") + "['" + data.hero + "', " + data.winRate + ", " + data.games + "]"; f = false; };
    - var generalSeriesString = s
    - s = ""
    - f = true
    - for(data : model.rankOneWinrates) { s = s + (f ? " " : ", ") + "['" + data.hero + "', " + data.winRate + ", " + data.games + "]"; f = false; };
    - var rankOneSeriesString = s
    - s = ""
    - f = true
    - for(data : model.duelWinrates) { s = s + (f ? " " : ", ") + "['" + data.hero + "', " + data.winRate + ", " + data.games + "]"; f = false; };
    - var duelSeriesString = s

    script.
        var data = [#{generalSeriesString}];
        var template = "http://cdn.dota2.com/apps/dota2/images/heroes/$_icon.png";

        var heroIconFormatter = function () {
            return '<img style="width: 24px; height: 24px;" src="' + template.replace("\$", this.point.name) + '">';
        };

        var heroIconPlotOptions = {
            column: {
                colorByPoint: true,
                dataLabels: {
                    enabled: true,
                    useHTML: true,
                    formatter: heroIconFormatter,
                    y: 26
                }
            }
        };

        var charts = [];

        charts.push(createWinRateGraph("winRates", data));
        charts.push(createWinRateGraph("duelWinRates", [#{duelSeriesString}]));
        charts.push(createWinRateGraph("rankOneWinRates", [#{rankOneSeriesString}]));

        var markers = getMarkersFromData(data, 2);

        markers = _.map(markers, function(point) {
           return {
               y: point[2],
               name: point[0]
           };
        });

        charts.push(Highcharts.chart('games', {
            xAxis: {
                labels: {
                    enabled: false
                }
            },
            chart: {
                type: "column"
            },
            credits: {
                enabled: false
            },
            title: {
                text: ""
            },
            plotOptions: heroIconPlotOptions,
            series: [{
                showInLegend: false,
                data: markers,
                name: "Rounds played",
                cursor: "pointer",
                point: {
                    events: {
                        click: function () {
                            window.location.href = "/heroes/" + this.name;
                        }
                    }
                }
            }]
        }));

        tabs({
            el: '#tabs',
            tabNavigationLinks: '.c-tabs-nav__link',
            tabContentContainers: '.c-tab',
            charts: charts
        }).init();