extends base.jade

block append head
    script(type="text/javascript", src="/scripts/stats.js")
    script(type="text/javascript", src="https://code.highcharts.com/highcharts.js")
    script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js")

block content
    div.ez-box
        h2.content-head.is-center Crumbling island arena stats
    div.ez-wr
        div#winRates.stats-graph
        div#rankOneWinRates.stats-graph
        div#games.stats-graph

    - var s = "";
    - var f = true;
    - for(data : model.generalWinrates) { s = s + (f ? " " : ", ") + "['" + data.hero + "', " + data.winRate + ", " + data.games + "]"; f = false; };
    - var generalSeriesString = s
    - s = ""
    - f = true
    - for(data : model.rankOneWinrates) { s = s + (f ? " " : ", ") + "['" + data.hero + "', " + data.winRate + ", " + data.games + "]"; f = false; };
    - var rankOneSeriesString = s

    script.
        var data = [#{generalSeriesString}];
        var template = "http://cdn.dota2.com/apps/dota2/images/heroes/$_icon.png";

        var heroIconFormatter = function () {
            return '<img style="width: 24px; height: 24px;" src="' + template.replace("\$", this.point.name) + '">';
        };

        var heroIconPlotOptions = {
            column: {
                colorByPoint: true,
                dataLabels: {
                    enabled: true,
                    useHTML: true,
                    formatter: heroIconFormatter,
                    y: 26
                }
            }
        };

        createWinRateGraph("winRates", "General winrates", data);
        createWinRateGraph("rankOneWinRates", "Rank 1 winrates", [#{rankOneSeriesString}]);

        var markers = getMarkersFromData(data, 2);
        console.log(data);
        markers = _.map(markers, function(point) {
           return {
               y: point[2],
               name: point[0]
           };
        });

        Highcharts.chart('games', {
            xAxis: {
                labels: {
                    enabled: false
                }
            },
            chart: {
                type: "column"
            },
            credits: {
                enabled: false
            },
            title: {
                text: "Rounds played"
            },
            plotOptions: heroIconPlotOptions,
            series: [{
                showInLegend: false,
                data: markers,
                name: "Rounds played"
            }]
        });