<div id="heroDetails">
    <div class="hero-top"><img ng-src="http://cdn.dota2.com/apps/dota2/images/heroes/{{heroName}}_full.png"/>
        <div class="name">{{tokens['HeroName_npc_dota_hero_' + heroName]}}</div>
    </div>
    <div class="hero-top-players">
        <div ng-repeat="player in winratePerPlayer">
            <div class="player-column">
                <img class="ranked-avatar" ng-src="{{player.avatarUrl}}"/>
                <a class="ranked-name no-line-height" ng-href="http://steamcommunity.com/profiles/{{player.steamId64}}">{{player.name}}</a>
                <div><b>{{player.winRateAndGames.games}}</b> rounds</div>
                <div><b>{{player.winRate}}%</b> wins</div>
            </div>
        </div>
    </div>
    <div class="hero-bar">
        <div class="language-selector">
            <a ng-click="selectEnglish()">ENG</a>
            <a ng-click="selectRussian()">RU</a>
        </div>
        <a href="/heroes">Back</a>
    </div>
    <div class="hero-right">
        <div class="abilities" ng-show="hero">
            <div ng-repeat="ability in hero.abilities | orderBy: not(isAttackAbility)" class="ability-block">
                <div class="ability">
                    <div class="image-block"><img ng-src="{{getAbilityImage(ability)}}" class="image"/>
                        <span ng-if="ability.damage" class="damage-text tooltip">{{ability.damage}}
                            <span class="tooltiptext">Damage</span>
                        </span>
                        <span ng-if="ability.cooldown" class="cooldown-text tooltip">{{ability.cooldown}}
                            <span class="tooltiptext">Cooldown</span>
                        </span>
                    </div>
                    <span ng-if="isAttackAbility(ability)" class="attack-ability">Basic Attack</span>
                    <span ng-bind-html="getAbilityDescription(ability)" class="description"></span>
                </div>
                <div ng-if="ability.sub" class="ability sub">
                    <div class="image-block"><img ng-src="{{getAbilityImage(ability.sub)}}" class="image"/>
                        <span ng-if="ability.sub.damage" class="damage-text tooltip">{{ability.sub.damage}}
                            <span class="tooltiptext">Damage</span>
                        </span>
                        <span ng-if="ability.sub.cooldown" class="cooldown-text tooltip">{{ability.sub.cooldown}}
                            <span class="tooltiptext">Cooldown</span>
                        </span>
                    </div>
                    <span ng-bind-html="getAbilityDescription(ability.sub)" class="description"></span>
                </div>
            </div>
        </div>
    </div>
    <highchart config="winrateConfig" class="hero-stats"></highchart>
    <div class="hero-bar">
        <div class="language-selector">
            <a ng-click="selectEnglish()">ENG</a>
            <a ng-click="selectRussian()">RU</a>
        </div>
        <a href="/heroes">Back</a>
    </div>
</div>