<div id="heroDetails" ng-show="selectedHero">
    <div class="hero-top"><img ng-src="http://cdn.dota2.com/apps/dota2/images/heroes/{{selectedHero.name}}_full.png"/>
        <div class="name">{{tokens['HeroName_npc_dota_hero_' + selectedHero.name]}}</div>
    </div>
    <div class="hero-bar">
        <div class="language-selector">
            <a ng-click="selectEnglish()">ENG</a>
            <a ng-click="selectRussian()">RU</a>
        </div>
        <a href="/heroes">Back</a>
    </div>
    <div class="hero-right">
        <div class="abilities">
            <div ng-repeat="ability in abilities | orderBy: not(isAttackAbility)" class="ability-block">
                <div class="ability">
                    <div class="image-block"><img ng-src="{{getAbilityImage(ability)}}" class="image"/>
                        <span ng-if="ability.damage" class="damage-text tooltip">{{ability.damage}}
                            <span class="tooltiptext">Damage</span>
                        </span>
                        <span ng-if="ability.cooldown" class="cooldown-text tooltip">{{ability.cooldown}}
                            <span class="tooltiptext">Cooldown</span>
                        </span>
                    </div>
                    <span ng-if="isAttackAbility(ability)" class="attack-ability">Basic Attack</span>
                    <span ng-bind-html="getAbilityDescription(ability)" class="description"></span>
                </div>
                <div ng-if="ability.subName" class="ability sub">
                    <div class="image-block"><img ng-src="{{getAbilityImage(ability, true)}}" class="image"/>
                        <span ng-if="ability.subDamage" class="damage-text tooltip">{{ability.subDamage}}
                            <span class="tooltiptext">Damage</span>
                        </span>
                        <span ng-if="ability.subCooldown" class="cooldown-text tooltip">{{ability.subCooldown}}
                            <span class="tooltiptext">Cooldown</span>
                        </span>
                    </div>
                    <span ng-bind-html="getAbilityDescription(ability, true)" class="description"></span>
                </div>
            </div>
        </div>
    </div>
    <highchart config="winrateConfig" class="hero-stats"></highchart>
    <div class="hero-bar">
        <div class="language-selector">
            <a ng-click="selectEnglish()">ENG</a>
            <a ng-click="selectRussian()">RU</a>
        </div>
        <a href="/heroes">Back</a>
    </div>
</div>